@import "./vars.scss";
@import "./mixins.scss";
@import "./blocks/header.scss";
@import "./blocks/search-box.scss";
@import "./blocks/profile.scss";
@import "./blocks/navbar.scss";
@import "./blocks/body.scss";
@import "./blocks/big-btns.scss";
@import "./blocks/filter-lable.scss";
@import "./blocks/product-filter-btn.scss";
@import "./blocks/products-grid.scss";
@import "./blocks/grid-item.scss";
@import "./blocks/footer.scss";
@import "./blocks/balance.scss";
@import "./blocks/btn.scss";
@import "./blocks/imgs.scss";

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

h3 {
    margin: 0;
    font-weight: 400;
}

.dl-flex {
    display: flex;
}

.fw-600 {
    font-weight: $semi-bold;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-24 {
    margin-bottom: 24px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1368px;
    padding: 0 32px;
}

.wrapper {
    flex-direction: column;
    min-height: 100vh;

    &__container {
        flex: 1;
        margin: 0 auto;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background: $background-gray;
        // position: absolute;
        // left: 0;
        // top: 0;
    }

    &__container {
        position: relative;
        background: $white;
        margin: 0 auto;
        // width: 1039px;
        display: flex;
        border-radius: 16px;
        padding: 56px;
    }

    &__item-info {
        margin: 8px 0 0 24px;
    }

    &__balance {
        position: absolute;
        right: 76px;
        top: 112px;
    }

    .product-filter-btn {
        &:checked + label {
            background: $blue-lighter;
            color: $black-primary;
            border: none;
        }
    }
}

.color__picker {
    .filter-label {
        position: relative;
        padding: 12px 12px 12px 39px;
        margin-right: 8px;
        margin-bottom: 8px;

        &::before {
            content: "";
            height: 24px;
            width: 23px;
            position: absolute;
            top: 9px;
            left: 8px;
            border-radius: 4px;
        }
    }

    .filter-label[for^="color__blue"]::before {
        background: $blue-darkerst;
    }

    .filter-label[for^="color__beige"]::before {
        background: $milk;
    }

    .filter-label[for^="color__gray"]::before {
        background: $gray-lightest;
    }
}

.size,
.color {
    &__title {
        padding-right: 575px;
    }

    &__picker {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
    }
}

.size__picker {
    .filter-label {
        padding: 0;
        width: 40px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
}

.close-button {
    @include reset-btn;

    position: absolute;
    top: 30.67px;
    right: 30.67px;
}

.canScroll{
    overflow: hidden;
}
