$black-primary: rgb(28, 24, 25);
$black-primary-10: rgba(28, 24, 25, 0.1);
$blue-primary: rgb(42, 129, 221);
$blue-lighter: #d6ecfb;
$gray: #888b94;
$white: #fff;
$red: #f33;
$white-darkest: #f2f2f3;
$payed-green: #eff8eb;
$payed-yellow: #fffae7;
$payed-blue:#e9f2fb;
$payed-green-hover: #e5eee1;
$payed-yellow-hover: #f5f0dd;
$payed-blue-hover:#dfe8f1;
$foam: #f0fafd;
$background-gray: rgba(28, 24, 25, 0.6);
$blue-darkerst: #00458a;
$milk: #efe8d8;
$gray-lightest: #d4d4da;
$semi-bold: 600;
