@import '../vars.scss';

.profile {
    &__pic {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        margin-right: 16px;
        cursor: pointer;
        display: inline-block;
    }

    &__name {
        color: $blue-primary;
        line-height: 24px;
    }

    &__balance {
        color: $black-primary;
        line-height: 20px;
    }
}
